* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: system-ui, Segoe UI, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-dark-gray);
}

:root {
  --max-width-s : 640px;
  --max-width-m : 1024px;
  --max-width-l : 1440px;

  --baseline : 30px;

  --color-dark-gray: #212121;
  /* color palette */
  --blue: rgb(30, 59, 82); /* #1E3C54 */
  --blue-sec-1: rgb(51, 80, 105); /* #325068 */
  --blue-sec-2: rgb(186, 202, 215); /* pitch footer darker light blue */
  --blue-sec-3: rgb(193, 208, 220); /* #c1d0dc */
  --blue-sec-4: rgb(208, 221, 232); /* pitch footer lighter light blue */
  --blue-sec-5: rgb(213, 224, 233); /* #d5e0e9 */
  --red: rgb(209, 63, 63); /* #D13F3F */
}

img {
  max-width: 100%;
  width: auto;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 { font-size: 80px; }

h2 { font-size: 60px; }

h3 { font-size: 40px; }

h4 { font-size: 30px; }

h5 { font-size: 25px; }

h6 { font-size: 20px; }

@media (max-width: 1024px) {
  h1 { font-size: 50px; }

  h2 { font-size: 35px; }

  h3 { font-size: 30px; }

  h4 { font-size: 25px; }

  h5 { font-size: 20px; }

  h6 { font-size: 18px; }
}
